# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.test
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
